.createPostPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.postContainer {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 500px;
  gap: 10px;
  padding: 0px 40px;
  box-shadow: 5px 5px 15px -5px #777777;
}

.postContainer h1 {
  margin-bottom: 0;
}

.postContainer input {
  width: 100%;
  height: 30px;
  outline: none;
  padding: 0px 4px;
}

.postContainer textarea {
  width: 100%;
  height: 120px;
  outline: none;
  padding: 7px;
}

.postButton {
  padding: 10px 0;
  /* background-color: aqua; */
  background: linear-gradient(#4ab1b2, #7193d9);
  color: #fff;
  border: none;
  box-shadow: 5px 5px 15px -5px #777777;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.postButton:hover {
  box-shadow: none;
  transform: translateY(5px);
}